 $primary-color: #5f83e7;
 $border: #f5eeee;
 $text: #f1e5e5;
 $primary-dark-color: #272626;
 $secondary-dark-color: #515050;
 $keep-textSize: 1.5rem;
 $leftmenu-textSize: 0.7em;
 $sectionTitle-textSize: 1.7rem;
 $closebtn-textSize: 2em;
 $notetitle-textSize: 1.4em;


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Product Sans", Arial, sans-serif;
 }

 .hide {
     display: none !important;
 }

 .flex-display {
     display: flex;
 }

 .topmenu {
     display: flex;
     justify-content: space-around;
     height: 10%;
     border-radius: 20px;
     border: 5px solid $primary-dark-color;
     background: linear-gradient(to right, $primary-dark-color, lighten($primary-dark-color, 20%));

     &__menu {
         position: absolute;
         top: 8px;
         left: 10px;
         margin: 10px;
         background-color: $primary-color;
         border-radius: 50px;
         padding: 5px;
         border: 1px solid $border;
     }

     &__btn {
         height: 30px;
         width: 45px;
         margin: auto;
         border-radius: 30px;
     }

     &__logo {
         margin: 10px;
         height: 40px;
         width: 40px;
     }

     &__menu-logo {
         display: flex;
         justify-content: left;
     }

     &__keep {
         height: 40px;
         width: 40px;
         font-size: $keep-textSize;
         font-weight: 500;
         position: relative;
         top: 25%;
         color: $text;
         text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
         display: inline-block;
         transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

         &:hover {
             opacity: 0.8;
         }
     }

     &__searchbar {
         width: auto;
         display: flex;
     }

     &__bar {
         color: $text;
         height: 60%;
         width: 100%;
         margin: 10px;
         padding-left: 10%;
         // background-color: $tertiary-dark-color;

         border-radius: 10px;
         background: url('https://cdn-icons-png.flaticon.com/512/482/482631.png') no-repeat 10px;
         background-size: 20px;
         padding: 10px 50px;
         box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);

         &:hover {
             border: 2px solid $border;
             height: 70%;
             //  margin: auto;
         }

         &::placeholder {
             color: $text;
         }
     }

     &__optn {
         padding: 3px;
         width: 10%;
         margin: auto;

         &--refresh {
             // margin: auto;
             //  height: 100%;
             width: 100%;
             // border-radius: 50px;
         }
     }
 }

 .content {
     display: flex;
 }

 .leftmenu {
     margin: 0;
     left: 0;
     height: 100vh;
     width: 15%;
     background-color: $primary-dark-color ;
     border: 2px solid $border;
     border-radius: 5px;
     display: flex;
     flex-direction: column;

     &__optn {
         display: block;
         margin: 10px;
         padding: 7px 10px;
         // border-radius: 50px;
         border: 0;
         font-size: $leftmenu-textSize;
         color: $text;
         background-color: $secondary-dark-color;
         transition: all 0.11s ease-in-out;

         &:hover {
             color: $primary-color;
             border-radius: 30px;
             text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
         }
     }
 }

 .notes {
     flex: 1;
     background-color: $primary-dark-color;

     &__create {
         height: 15vh;


         &-bar {
             position: relative;
             top: 40%;
             left: 25%;
             width: 50%;
             padding: 8px;
             border-radius: 30px;
             border: 0.5px solid $border;
             background: url('https://static.vecteezy.com/system/resources/previews/000/357/052/original/vector-notes-icon.jpg') no-repeat 15px center;
             background-size: 25px;
             padding: 10px 50px;
             background-color: $secondary-dark-color;
             box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);

             &:hover {
                 width: 60%;
                 height: 50%;
             }

             ::placeholder {
                 color: $text;
             }
         }
     }

     &__title {
         // display: none;
         margin-left: 10px;
         margin-top: 2rem;
         font-weight: 800;
         font-size: $sectionTitle-textSize;
         color: $primary-color;
         margin-bottom: 2%;
         text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
     }

     &__pinned {
         // background-color: rgb(9, 255, 0);
         margin: 1% 0 1% 0;
         height: auto;
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
     }

     &__layout {
         // background-color: blue;
         height: 74vh;
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
     }

     &__trash {
         // display: none;
         height: 74vh;
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
     }
 }


 /* Popup */
 .popup {
     display: block;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50%;
     //  height: 60%;
     height: fit-content;
     background: white;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
     z-index: 1001;

     &-overlay {
         display: block;
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.5);
         z-index: 1000;
     }

     &__inner {
         margin: 5px;
         margin-left: 0;
         padding: 8px;
         padding-left: 0;
         height: auto;
         width: 100%;

         &--button {
             //  position: absolute;
             //  right: 0;
             //  bottom: 0;
             margin-left: auto;
             height: 3em;
             width: 3em;
             //  margin:0;
             padding: 0;
         }

         &--descrp {
             height: 50%;
         }
     }

     &__input {
         margin-top: 5%;
         padding: 10px;
         border: 1px solid #ada7a7;
         width: 100%;

         &--descrp {
             padding: 10px;
             width: 100%;
             height: 100%;
             word-wrap: break-word;
             border: 1px solid #000000;
         }
     }




     &__edit {
         margin-top: 5%;
         padding: 10px;
         border: 1px solid #ada7a7;
         width: 100%;

         &--descrp {
             padding: 10px;
             width: 100%;
             max-width: 100%;
             height: 100%;
             max-height: 300px;
             word-wrap: break-word;
             border: 1px solid #000000;
             overflow-y: auto !important;
             overflow-x: hidden;
             word-wrap: break-word;

             &::-webkit-scrollbar {
                 width: 8px;
             }

             &::-webkit-scrollbar-thumb {
                 background-color: rgba(0, 0, 0, 0.3);
                 border-radius: 4px;
             }

             &::-webkit-scrollbar-track {
                 background-color: rgba(0, 0, 0, 0.1);
             }
         }
     }

     &__create {
         width: 100%;
         height: 100%;
     }

     &__btn {
         border: none;
     }
 }

 .close-btn {
     position: absolute;
     top: 10px;
     right: 15px;
     font-size: $closebtn-textSize;
     cursor: pointer;
 }