* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Product Sans", Arial, sans-serif;
}

.hide {
  display: none !important;
}

.flex-display {
  display: flex;
}

.topmenu {
  display: flex;
  justify-content: space-around;
  height: 10%;
  border-radius: 20px;
  border: 5px solid #272626;
  background: linear-gradient(to right, #272626, #5b5858);
}
.topmenu__menu {
  position: absolute;
  top: 8px;
  left: 10px;
  margin: 10px;
  background-color: #5f83e7;
  border-radius: 50px;
  padding: 5px;
  border: 1px solid #f5eeee;
}
.topmenu__btn {
  height: 30px;
  width: 45px;
  margin: auto;
  border-radius: 30px;
}
.topmenu__logo {
  margin: 10px;
  height: 40px;
  width: 40px;
}
.topmenu__menu-logo {
  display: flex;
  justify-content: left;
}
.topmenu__keep {
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 25%;
  color: #f1e5e5;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
  display: inline-block;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.topmenu__keep:hover {
  opacity: 0.8;
}
.topmenu__searchbar {
  width: auto;
  display: flex;
}
.topmenu__bar {
  color: #f1e5e5;
  height: 60%;
  width: 100%;
  margin: 10px;
  padding-left: 10%;
  border-radius: 10px;
  background: url("https://cdn-icons-png.flaticon.com/512/482/482631.png") no-repeat 10px;
  background-size: 20px;
  padding: 10px 50px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}
.topmenu__bar:hover {
  border: 2px solid #f5eeee;
  height: 70%;
}
.topmenu__bar::-moz-placeholder {
  color: #f1e5e5;
}
.topmenu__bar::placeholder {
  color: #f1e5e5;
}
.topmenu__optn {
  padding: 3px;
  width: 10%;
  margin: auto;
}
.topmenu__optn--refresh {
  width: 100%;
}

.content {
  display: flex;
}

.leftmenu {
  margin: 0;
  left: 0;
  height: 100vh;
  width: 15%;
  background-color: #272626;
  border: 2px solid #f5eeee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.leftmenu__optn {
  display: block;
  margin: 10px;
  padding: 7px 10px;
  border: 0;
  font-size: 0.7em;
  color: #f1e5e5;
  background-color: #515050;
  transition: all 0.11s ease-in-out;
}
.leftmenu__optn:hover {
  color: #5f83e7;
  border-radius: 30px;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

.notes {
  flex: 1;
  background-color: #272626;
}
.notes__create {
  height: 15vh;
}
.notes__create-bar {
  position: relative;
  top: 40%;
  left: 25%;
  width: 50%;
  padding: 8px;
  border-radius: 30px;
  border: 0.5px solid #f5eeee;
  background: url("https://static.vecteezy.com/system/resources/previews/000/357/052/original/vector-notes-icon.jpg") no-repeat 15px center;
  background-size: 25px;
  padding: 10px 50px;
  background-color: #515050;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}
.notes__create-bar:hover {
  width: 60%;
  height: 50%;
}
.notes__create-bar ::-moz-placeholder {
  color: #f1e5e5;
}
.notes__create-bar ::placeholder {
  color: #f1e5e5;
}
.notes__title {
  margin-left: 10px;
  margin-top: 2rem;
  font-weight: 800;
  font-size: 1.7rem;
  color: #5f83e7;
  margin-bottom: 2%;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
}
.notes__pinned {
  margin: 1% 0 1% 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.notes__layout {
  height: 74vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.notes__trash {
  height: 74vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Popup */
.popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.popup-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.popup__inner {
  margin: 5px;
  margin-left: 0;
  padding: 8px;
  padding-left: 0;
  height: auto;
  width: 100%;
}
.popup__inner--button {
  margin-left: auto;
  height: 3em;
  width: 3em;
  padding: 0;
}
.popup__inner--descrp {
  height: 50%;
}
.popup__input {
  margin-top: 5%;
  padding: 10px;
  border: 1px solid #ada7a7;
  width: 100%;
}
.popup__input--descrp {
  padding: 10px;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  border: 1px solid #000000;
}
.popup__edit {
  margin-top: 5%;
  padding: 10px;
  border: 1px solid #ada7a7;
  width: 100%;
}
.popup__edit--descrp {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  word-wrap: break-word;
  border: 1px solid #000000;
  overflow-y: auto !important;
  overflow-x: hidden;
  word-wrap: break-word;
}
.popup__edit--descrp::-webkit-scrollbar {
  width: 8px;
}
.popup__edit--descrp::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.popup__edit--descrp::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
.popup__create {
  width: 100%;
  height: 100%;
}
.popup__btn {
  border: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2em;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */