* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Product Sans", Arial, sans-serif;
}

.no-display {
  display: none !important;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.topmenu {
  display: flex;
  justify-content: space-around;
  height: 10%;
  border-radius: 20px;
  border: 5px solid #272626;
  background: linear-gradient(to right, #272626, #5b5858);
}
.topmenu_menu {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 3px;
  left: 10px;
  margin: 10px;
  border-radius: 50px;
  padding: 5px;
  border: 1px solid #f5eeee;
}
.topmenu__btn {
  height: 30px;
  width: 45px;
  margin: auto;
  border-radius: 30px;
}
.topmenu_logo {
  margin: 10px;
  height: 40px;
  width: 40px;
}
.topmenu_menu-logo {
  display: flex;
  justify-content: left;
}
.topmenu_keep {
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 25%;
  color: #f1e5e5;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
  display: inline-block;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.topmenu_keep:hover {
  animation: bounce 0.6s ease infinite alternate;
  opacity: 0.8;
}
.topmenu_searchbar {
  width: auto;
  display: flex;
}
.topmenu_bar {
  height: 60%;
  width: 100%;
  margin: 10px;
  padding-left: 10%;
  border-radius: 10px;
  background: url("https://cdn-icons-png.flaticon.com/512/482/482631.png") no-repeat 10px center;
  background-size: 16px;
  padding: 10px 50px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}
.topmenu_bar:hover {
  border: 2px solid #f5eeee;
  height: 70%;
  margin: auto;
}
.topmenu_bar::-moz-placeholder {
  color: #f1e5e5;
}
.topmenu_bar::placeholder {
  color: #f1e5e5;
}
.topmenu_optn {
  padding: 3px;
  width: 10%;
}
.topmenu_optn--refresh {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
}

.leftmenu {
  margin: 0;
  left: 0;
  width: 15%;
  background-color: #272626;
  border: 2px solid #f5eeee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.leftmenu__optn {
  display: block;
  margin: 10px;
  padding: 7px 10px;
  border: 0;
  font-size: 0.7em;
  color: #f1e5e5;
  background-color: #515050;
  transition: all 0.11s ease-in-out;
}
.leftmenu__optn:hover {
  color: #5f83e7;
  border-radius: 30px;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

.notes {
  flex: 1;
  background-color: #272626;
}
.notes__create {
  height: 15vh;
}
.notes__create-bar {
  position: relative;
  top: 40%;
  left: 25%;
  width: 50%;
  padding: 8px;
  border-radius: 30px;
  border: 0.5px solid #f5eeee;
  background: url("https://static.vecteezy.com/system/resources/previews/000/357/052/original/vector-notes-icon.jpg") no-repeat 15px center;
  background-size: 16px;
  padding: 10px 50px;
  background-color: #515050;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}
.notes__create-bar:hover {
  width: 60%;
  height: 50%;
}
.notes__create-bar ::-moz-placeholder {
  color: #f1e5e5;
}
.notes__create-bar ::placeholder {
  color: #f1e5e5;
}
.notes__title {
  margin-left: 10px;
  margin-top: 2rem;
  font-weight: 800;
  font-size: 1.7rem;
  color: #5f83e7;
  margin-bottom: 2%;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
}
.notes__pinned {
  margin: 1% 0 1% 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.notes__layout {
  height: 74vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.notes__trash {
  height: 74vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 200px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.popup__inner {
  margin: 5px;
  padding: 8px;
}
.popup__inner--button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-left: auto;
  height: 4em;
  width: 4em;
}
.popup__input {
  position: absolute;
  left: 10px;
  padding: 10px;
  border: 1px solid #ada7a7;
  width: 80%;
}
.popup__input--descrp {
  position: absolute;
  top: 100px;
  left: 10px;
  padding: 10px;
  width: 80%;
  height: auto;
  word-wrap: break-word;
}
.popup__create {
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2em;
  cursor: pointer;
}

.note {
  height: 200px;
  max-height: auto;
  width: 244px;
  max-width: 300px;
  background-color: #515050;
  border: 1px solid #ada7a7;
  border-radius: 20px;
  margin: 10px;
  word-wrap: break-word;
}
.note__content {
  height: 80%;
}
.note__title {
  font-size: 1.4em;
  font-weight: 800;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 20%;
  height: auto;
  text-align: center;
  position: relative;
  color: #5f83e7;
  word-wrap: break-word;
}
.note__text {
  padding: 5px;
  width: 100%;
  min-height: 80%;
  height: auto;
  word-wrap: break-word;
}
.note__optn {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}
.note__btn {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  position: relative;
  top: 10px;
}
.note__btn--pin {
  margin: 0;
  height: 31px;
  position: absolute;
  right: 2px;
  border-radius: 20px;
}
.note__icon {
  height: 100%;
  border-radius: 10px;
}
.note__icon--pin {
  height: 100%;
  width: 100%;
  padding: 0;
}

.draggable {
  border: 1px solid #f5eeee;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */